.eventSelectWrapper {
  position: relative;
  display: flex;
}

.eventButton {
  background: none;
  border: none;
  cursor: pointer;
}

.popover {
  display: flex;
  flex-direction: column;
  padding: 12px 11px 12px 0;
  position: absolute;
  top: 137%;
  left: -139px;
  width: 174px;
  background-color: var(--bg-input);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transition: width 0.3s ease;
}

.popoverItem {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  transition: background 0.2s;
}

.popoverItem::before{
  content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: -1;
}

.popoverItem:hover {
  background: var(--bg-secondary);
}
